/*------------------ FONTS ------------------*/
@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;500;600;700;800&display=swap');
/* font-family: 'Eczar', serif; */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* font-family: 'Alegreya', serif; */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'PT Serif', serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* font-family: 'Roboto Condensed', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* font-family: 'Open Sans', sans-serif; */

/*------------------ VARIABLES ------------------*/
:root {
  --logo-font: 'PT Serif', serif;
  --heading-font: 'Alegreya', serif;
  --heading-alt-font: 'Eczar', serif;
  --main-font: 'Roboto Condensed', sans-serif;
  --main-alt-font: 'Open Sans', sans-serif;
  --main-color: hsl(205, 100%, 20%);
  --nav-hover-color: hsl(205, 100%, 60%);
  --main-shadow-color: hsl(205, 100%, 10%);
  --secondary-color: hsl(205, 15%, 35%);
  --heading-color: hsl(205, 100%, 15%);
  --text-color: #242424;
}

/*------------------ STYLES ------------------*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 700px;
  min-height: 100vh;
  color: var(--text-color);
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--heading-color);
  font-weight: 600;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}
h2 {
  font-size: 2rem;
  font-weight: 800;
}
h3 {
  font-size: 1.6rem;
  font-weight: 700;
}
h4 {
  font-size: 1.4rem;
  font-weight: 600;
}
h5 {
  font-size: 1.25rem;
  font-weight: 500;
}
h6 {
  font-size: 1.1rem;
  font-weight: 500;
}

p {
  font-family: var(--main-font);
  font-size: 1rem;
}

button {
  padding: 10px 30px;
  font-size: 1.2rem;
  font-family: var(--main-font);
  color: white;
  background: linear-gradient(var(--main-color), var(--main-shadow-color));
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.3),
    inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  white-space: nowrap;
  transition: 0.1s ease-out;
}
button:hover {
  background: linear-gradient(hsl(205, 100%, 22%), hsl(205, 100%, 12%));
}
button:active {
  background: linear-gradient(hsl(205, 100%, 25%), hsl(205, 100%, 15%));
  box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
/*------------------ NAV ------------------*/
.nav-container {
  width: 100%;
  min-height: calc(10px + 1vh);
  padding: 2vh calc(50px + 1vmax);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), transparent);
  position: absolute;
  top: 0;
  z-index: 99;
  gap: calc(50px + 1%);
}
.logo {
  font-family: var(--logo-font);
  font-size: calc(9px + 1vmax);
  font-weight: 700;
  color: white;
  text-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}
.nav-links-container {
  width: 35%;
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  gap: calc(10px + 5%);
}
.nav-links {
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
  color: white;
  transition: 0.2s ease-out;
}
.nav-links:hover {
  /* color: var(--nav-hover-color); */
  text-shadow: 0 1px 10px rgba(255, 255, 255, 0.7);
}

.nav-links-button {
  padding: 10px 30px;
  font-size: 16px;
  font-family: var(--main-font);
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.section-title {
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 900;
  color: var(--heading-color);
}

/*------------------ HEADER ------------------*/
.header-container {
  width: 100%;
  height: 100vh;
  padding: 5vh 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(
      circle at 50% 30%,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.9)
    ),
    url('images/slideshow/slideshow-image.jpg') center / cover no-repeat;
}
.header-title {
  margin-bottom: 5vh;
  font-family: var(--heading-font);
  font-size: calc(36px + 2vmax);
  font-weight: 900;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  word-spacing: 4px;
  line-height: 1;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.header-cta {
  margin-bottom: 5vh;
  font-family: var(--main-font);
  font-size: calc(12px + 1vmax);
  font-weight: 400;
  text-align: center;
  color: rgb(233, 233, 233);
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.header-btn {
  padding: 3vh 3%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
}

/*------------------ ABOUT ------------------*/
.about-container {
  width: 100%;
  padding: 3vh 10% 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-title {
}

.about-text {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 400;
}

/*------------------ SERVICES ------------------*/
.services-container {
  width: 100%;
  padding: 4vh 5% 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.services-title {
  text-transform: capitalize;
  font-family: var(--heading-font);
  font-size: 3rem;
  font-weight: 900;
  color: var(--heading-color);
}
.services-text {
  font-size: 1rem;
  margin-bottom: 4vh;
  text-align: center;
}

.services-sub-container {
  width: 100%;
  margin-bottom: 2vh;
  padding: 4vh 2%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  background: rgb(249, 254, 255);
  cursor: default;
  transition: 0.1s ease-out;
  border: 1px dotted rgb(219, 219, 219);
}
.services-sub-container:hover {
  border: 1px dotted transparent;
  box-shadow: inset 2px 2px 2px rgba(255, 255, 255, 0.2),
    inset -2px -2px 2px rgba(0, 0, 0, 0.3);
  background: var(--main-shadow-color);
  color: white;
}
.services-sub-container:hover > .services-sub-title,
.services-sub-container:hover .service-sub-title {
  color: rgba(255, 255, 255, 0.9);
}

.services-sub-title {
  margin-left: 1%;
  margin-bottom: 3vh;
  font-family: var(--heading-font);
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: capitalize;
  text-align: center;
  line-height: 1;
  color: var(--heading-color);
  white-space: nowrap;
}
.service-container {
  width: 100%;
  padding: 1vh 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  line-height: 1.5;
  gap: calc(50px + 2%);
}

.service-sub-container {
  width: 20%;
  min-width: 250px;
  margin-bottom: 2vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.service-sub-title {
  margin-bottom: 0.5vh;
  font-family: var(--heading-font);
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  line-height: 1.2;
  color: #3d3d3d;
  border-bottom: 1px dotted var(--main-color);
  white-space: nowrap;
}
.service-sub-text {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  text-align: justify;
  text-align-last: center;
}

/*------------------ INSURANCE PROVIDERS ------------------*/
.providers-container {
  width: 100%;
  padding: 0 5% 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.providers-images-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 5%;
}

.providers-image {
  max-width: 150px;
  min-width: 100px;
  transition: 0.1s ease;
}
.providers-image:hover {
  transform: scale(1.05);
}

/*------------------ CONTACT ------------------*/
.contact-container {
  width: 100%;
  padding: 10vh 20%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  background: linear-gradient(
    to bottom right,
    var(--main-shadow-color),
    var(--main-color)
  );
  color: white;
  gap: 10%;
}

.contact-title {
  max-width: 40%;
  padding-top: 4vh;
  font-family: var(--heading-font);
  font-size: calc(32px + 2vmax);
  font-weight: 700;
  text-align: right;
  color: white;
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2vh;
}

.form-line {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.form-input-wrapper {
  width: 100%;
}
.form-label {
  font-family: var(--main-font);
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 1.5;
}
.form-input {
  width: 100%;
  height: 32px;
  padding: 5px 10px;
  font-family: var(--main-alt-font);
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  border: none;
  border-radius: 5px;
  background: hsl(0, 0%, 97%);
  caret-color: #242424;
}

.form-radio-label {
  font-family: var(--main-font);
  font-size: 14px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}
.form-radio:checked ~ .form-radio-label {
  color: rgba(255, 255, 255, 1);
}

.form-message {
  width: 100%;
  line-height: 4;
}

.form-btn {
  width: 100%;
}

/*------------------ FOOTER ------------------*/
.footer-container {
  width: 100%;
  padding: 2vh 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #181818;
  font-family: var(--main-font);
  font-size: 12px;
  font-weight: 400;
  text-transform: capitalize;
  color: rgb(160, 160, 160);
}
